{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="about-banner">

<div class="container" id="bottles">
<div class="row">
<div class="col-sm-12">
<h1 class="header1">Quality Product Labels</h1>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<h1 class="header2">Since 1981</h1>
</div>
</div>
</div>
</section>


    <div class="container-fluid" id="about">
    <h1>Our Story</h1>
    <p><img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/ProudlyCanadian2.png" alt="Proudly Canadian" title="Proudly Canadian">
    Kwality Labels was incorporated in 1981 and has grown
      to become a leader in the flexographic printing
      industry, while still staying true to its roots as a privately
     owned Canadian company.
     </p>

     <p>Our mission is to become the supplier of choice for all
      qualified customers by providing products and services that consistently
      exceed customer expectations.  We will achieve this through continuous
      improvement in our processes and materials.  We will at all times strive
      for zero defects in the products we produce.</p>
      <p>
      Our commitment to product quality, reliability of performance, and customer
       service is evident in the excellent ratings we receive in our annual customer
        feedback surveys.  Our clients would not hesitate to recommend Kwality Labels
       to someone else.
      </p>
      <p>
      We have many long serving and highly motivated employees to help us achieve
       our goals.  We are proud to be recognized for our commercial success and
        our community contributions as recipients of the <strong>Business Achievement Award</strong> from the Richmond Hill Chamber of Commerce.
      </p>

      <br>
<p>
Kwality Labels is a true value partner, not just a supplier.
</p>
    </div> <!-- about end -->


    <div class="parallax">
    </div>


<div class="container-fluid" id="environment">
<h1>Environmental Sustainability</h1>

<p><img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/recycle.png" alt="Recycle" title="Recycle" class="img1">Kwality Labels is committed to the environment and has been for many years. Using water based inks and varnishes ensures that no VOC emissions and toxins are released into the environment. We have installed a new lighting system to reduce electricity usage by 60%, thereby reducing our power consumption and our carbon footprint.</p>

<p>Richmond Hill Chamber of Commerce commends Kwality Labels with the <strong>2010 Conservation and Environmental Sustainability Award</strong>. The award is to recognize excellence in energy conservation and the environmental business practices of waste reduction, pollution prevention and education. Sanjeev Sawni, President and CEO; and Shanti Chadha, Vice President, accepted the honour at the Chamber’s 19th Annual Business Achievement Awards Gala.</p>

<p style="font-weight: bold;">We are constantly looking at ways to reduce waste in the production process through:</p>

<ul style="list-style-type: disc;">
<li>Our extensive waste recycling program</li>
<li>Reducing power consumption through efficient lighting systems and machinery</li>
<li>Reducing ink and varnish waste by installing a dispensing system,
recycling drums and totes</li>
<li>Recycling packing material through our client-supplier program</li>
</ul>
<blockquote class="blockquote">
<p style="font-style:italic;"><i class="fa fa-quote-left"></i> It is gratifying to be recognized
in this way for our efforts as an environmentally-conscientious employer.
Minimizing our carbon footprint has always been a key priority for
our company, and I am proud of the contributions our team of
highly-skilled, experienced and motivated employees has made towards this achievement. <i class="fa fa-quote-right"></i></p>
<footer class="blockquote-footer">Mr. Sawni, CEO <cite title="Source Title"></cite></footer>
</blockquote>
</div> <!-- enviro end -->

<div class="parallax2">
</div>

<div class="container-fluid" id="quality"> <!-- Quality -->
<!-- <div class="row">
<div class="col-md-2 col-xs-5 col-sm-3"> -->

<h1>Quality</h1>
<!-- </div>
<div class="col-xs-3 col-md-2 col-md-push-6 col-sm-2 col-sm-push-4 col-lg-2 col-lg-push-6">
<div class="img1">
<img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/satisfaction.png" alt="Quality" title="Satisfaction Guaranteed">
</div> -->
<!--
</div>
<div class="col-md-2 col-md-push-6 col-xs-3 col-sm-2 col-sm-push-4 col-lg-2 col-lg-push-6">
<img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/quality-stamp.png" alt="Quality" title="Satisfaction Guaranteed">
</div>
-->
<!--
<div class="col-xs-6 col-md-2 col-sm-3">
<img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/satisfaction.png" alt="Quality" title="Satisfaction Guaranteed">
</div>
</div> -->
<img id="slideshow" src="http://kwalitylabels.com/images/image_squares/prod.gif">

<div class="row">
<div class="col-sm-8">
<p class="description">At Kwality, we are accountable not only to our clients but also to ourselves.  We run and maintain an extensive quality control system. Some of the processes are as follows:</p>
</div>
</div>

<ul style="list-style-type: disc;">
<li>Traceability records on all shipments</li>
<li>Certificate of Analysis on all major supplies</li>
<li>Ongoing Supplier reviews</li>
<li>Rotating preventative maintenance on all processes</li>
<li>Annual Customer satisfaction surveys</li>
</ul>
<p>We ensure that no products leave our docks without quality checks!</p>

<!-- <p class="quality-logos">
<img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/quality-seal.png" alt="Quality" title="Satisfaction Guaranteed">
<img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/satisfaction.png" alt="Quality" title="Satisfaction Guaranteed">
<img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/satisfaction2.png" alt="Quality" title="Satisfaction Guaranteed">
</p> -->
</div> <!-- Quality end -->


<div class="container-fluid">
<hr class="logo-divider">
</div>


<div class="container text-center" id="logos"> <!-- client logos -->
<div class="row" id="first-row">
<div class="logo1"><img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/green print.png" alt="Green Printing" title="Green Printing" id="logo1"></div>
<div class="client1"><img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/CAMSC.png" alt="Client1" title="Client" id="client1"></div>
</div> <!-- 1st row -->
<div class="row" id="second-row">
<div class="client"><img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/sobeys.png" alt="Client2" title="Client"></div>
<div class="client"><img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/sdm-logo.png" alt="Client3" title="Client"></div>
<div class="client"><img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/loblaws-logo.png" alt="Client4" title="Client"></div>
<div class="client"><img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/metro-logo.png" alt="Client5" title="Client" id="metro"></div>
<div class="client"><img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/costco-svg.png" alt="Client6" title="Client"></div>
<div class="client"><img src="http://localhost/kwality-labels-inc/user/themes/newtheme/img/walmart-logo.png" alt="Client7" title="Client"></div>
</div> <!-- 2nd row -->
</div> <!-- end logos -->
{% endblock %}
